NEXT_PUBLIC_CHAIN_ID=4663
NEXT_PUBLIC_RH_RPC_URL=https://rpc.mainnet.chain.robinhood.com
RH_RPC_URL=https://rpc.mainnet.chain.robinhood.com
RH_TESTNET_RPC_URL=https://rpc.testnet.chain.robinhood.com
PRIVATE_KEY=
NEXT_PUBLIC_REGISTRY_ADDRESS=
NEXT_PUBLIC_VOTING_ADDRESS=
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_COMMUNITY_FACTORY_ADDRESS=0xDEe4e837f2ed6bDd9B5Fc114408A057d6D7BE5e1
NEXT_PUBLIC_POOL_FACTORY_ADDRESS=0x981E628Ea99CD8307AE5934924AEF65C3534241F
NEXT_PUBLIC_BORN_TOKEN_ADDRESS=0x0D4a559A73990553062b4844AD8ad65478dF9E3f
NEXT_PUBLIC_DAILY_ORACLE_ADDRESS=0x1D4C453f8862440f4Adba122de3735bCd0e85daE
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
